.app {
    padding: 140px 0;
    background-image: url("assets/iPhone.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.appWrapper {
    text-align: center;
    margin: 60px 0;
}

.resetGame {
    width: 290px;
    height: 80px;
    font-family: var(--zona-pro);
    text-align: center;
    font-size: 24px;
    color: var(--white);
    background: rgba(255, 51, 182, 0.74);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.resetGame:hover{
    box-shadow: var(--reset);
}

